{% extends 'base.html' %}
{% load static %}

{% block body_block %}

    <div hidden id="status">{{ company.verdict }}</div>
    <link rel="stylesheet" type="text/css" href="{% static '/css/companypage.css' %}">

    <div class = "head">
        <span> <h1 style="font-size: 30pt; display: inline-block">{{ company.short_hand }} </h1>  ({{ company.stock_code }}) </span>

        <div id="price_div" class="price">
            {% include 'company-price-ticker.html' %}
        </div>
    </div>

    <div id="main-body" style="width: 75%; float: left">

    <div class = "topnav">
        <a id="our" onclick="navButton('our')" >Our Closing Prediction</a>
        <a id="custom" onclick="navButton('custom')" >Custom Prediction</a>
        <a id="info" onclick="navButton('company')" >Company Information</a>
        <a id="expand" style="float: right" onclick="navSentences()"> > </a>
    </div>

    <div id="ourPred" class = "ourPred">
        <div>
            <div style="font-family: Arial, sans-serif; position: relative; height: 60vh; margin-bottom: 85px">
                <h2>Closing Price Predictions</h2>
                <canvas id="myChart" height="200px"></canvas>
            </div>
        </div>

        <hr style="border-top: 2px solid  #333; position: relative">
    </div>

    <div hidden id = "customPred" class = "customPred">
        <div style="width: 270px; float: left">
            <div class="custom">
                <h2>Custom Predictions</h2>

                <form action="http://127.0.0.1:8000/hotornot/{{ company.stock_code }}" method="post">
                {% csrf_token %}
                <div>
                    <div style="width: 30%; float: left;">
                        <label style="text-align: center">Start Date</label>
                    </div>
                    <div style="width: 70%; float: left;">
                        <input type="date" name="startdate" id="startdate">
                    </div>
                </div>

                <div>
                    <div style="width: 30%; float: left;">
                        <label style="text-align: center">End Date</label>
                    </div>
                    <div style="width: 70%; float: left;">
                        <input type="date" name="enddate" id="enddate">
                    </div>
                </div>

                <button type="submit" style="width: 100%">Make Prediction</button>
                </form>

                <div style="background-color: lightcoral; padding: 2px;">
                    <span style="color: #B22222">Start date must be before</span>
                    <span style="color: #B22222"> 15th Dec 2020</span>
                </div>
            </div>

        </div>

        <div style="width: 80%; height:500px; float: left; position: relative">
            <canvas style="float: left" id="customChart"></canvas>
        </div>
    </div>

    <div hidden id="stockInfo" class="stockInfo">
    
        <div style="padding-bottom: 5px; position: relative; min-height: 160px">
            <img src="{{ basic_info.logo_url }}" style="position: absolute; max-height: 160px; max-width: 160px">
            <p class = "busSummary"> {{ basic_info.longBusinessSummary }}</p>
        </div>

        <hr style="border-top: 2px solid  #333; position: relative">

        <div>
            <h2> Basic Information </h2>
            <p> <b>Sector:</b> {{ basic_info.sector }}</p>
            <p> <b>Industry:</b> {{ basic_info.industry }}</p>
            <p> <b>Country:</b> {{ basic_info.country }}</p>
            <p> <b>City:</b> {{ basic_info.city }}</p>
            <p> <b>Address:</b> {{ basic_info.address1 }}</p>
            <p> <b>Phone:</b> {{ basic_info.phone }}</p>
            <p> <b>Website:</b> <a href="{{ basic_info.website }}">{{ basic_info.website }}</a></p>
            <p> <b>Employees:</b> {{ basic_info.fullTimeEmployees }}</p>
        </div>


        <hr style="border-top: 2px solid  #333; position: relative">
    
        <div style="font-family: Arial, sans-serif;">
            <h2> Financial Information </h2>
        {% for key, value in finance_info.items %}
            <div style="width: 50%; float: left">
                <p> <b>{{ key }}</b>:{{ value }}</p>
            </div>
        {% endfor %}
        </div>

    </div>

    </div>

    <div id="side-sentences" style="width: 25%; float: left">
        <div class="sideinfo">
            {% if company.verdict == "NOT" %}
                <img style="float: left" height="45px" src="{% static 'imgs/Not.png' %}">
                <a>Sentences Suggest NOT</a>
            {% elif company.verdict == "HOT" %}
                <img  style="float: left" height="45px" src="{% static 'imgs/Hot.png' %}">
                <a>Sentences Suggest HOT</a>
            {% else %}
                <img  style="float: left" height="45px" src="{% static 'imgs/None.png' %}">
                <a>Sentences Suggest HOLD</a>
            {% endif %}
        </div>

        <div style="height: 70vh; overflow-y: scroll; overflow-x: hidden">
            {%  for sentence in sentences%}
                <div class="snippet">
                    <div style="width: 5%; float: left; padding-right: 5px">
                        {% if sentence.sentiment == "Positive" %}
                            <img width="100%" src="{% static 'imgs/Hot.png' %}">
                        {% elif sentence.sentiment == "Negative" %}
                            <img width="100%" src="{% static 'imgs/Not.png' %}">
                        {% else %}
                            <img width="100%" src="{% static 'imgs/None.png' %}">
                        {% endif %}
                    </div>
                    <q style="width: 90%; float: left;">{{ sentence.text }} <small>&nbsp;&nbsp;&nbsp;&nbsp;-{{ sentence.source }}, {{ sentence.date }} </small></q>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script type="text/javascript" src="{% static "js/price_ticker.js" %}"></script>

    <script>




    var our = document.getElementById("our");
    var custom = document.getElementById("custom");
    var info = document.getElementById("info");

    var our_content = document.getElementById("ourPred");
    var custom_content = document.getElementById("customPred");
    var info_content = document.getElementById("stockInfo");

    var cls = ""
    if(document.getElementById("status").textContent == "HOT"){
        cls = "hotActive"
    } else {
        cls = "notActive"
    }
    our.classList.add(cls)

    var sents = document.getElementById("side-sentences")
    var main = document.getElementById("main-body")
    var expand = document.getElementById("expand")


    function navButton(button_name) {

        custom.classList.remove(cls);
        info.classList.remove(cls);
        our.classList.remove(cls);

        custom_content.hidden = true;
        info_content.hidden = true;
        our_content.hidden = true;

        if(button_name == "our"){
            our.classList.add(cls)
            our_content.hidden = false;
        } else if(button_name == "custom"){
            custom.classList.add(cls)
            custom_content.hidden = false;
        } else {
            info.classList.add(cls)
            info_content.hidden = false;
        }


    }

    function htmlDecode(str) {
        const doc = new DOMParser().parseFromString(str, "text/html");
        let item_str = doc.documentElement.textContent;
        item_str = item_str.replace("[","");
        item_str = item_str.replace("]","")
        item_str = item_str.replaceAll("'","");
        return item_str.split(",")
    }

    // Standard Chart
    data = htmlDecode("{{ close_data.labels }}")
    dates = []

    pred_labels = htmlDecode("{{ pred_data.labels }}")
    pred_prices = htmlDecode("{{ pred_data.prices }}")

    for(i = 0; i < data.length; i++){
        dates = dates.concat(new Date(data[i]))
    }


    pred_points = []
    for(i = 0; i < pred_labels.length; i++){
        pred_points = pred_points.concat([{
            'x': (new Date(pred_labels[i])),
            'y': parseFloat(pred_prices[i])
        }])
    }

    var ctx = document.getElementById('myChart');
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                data: {{ close_data.prices }},
                label: "Closing Price History",
                borderColor: "#3e95cd",
                fill: false
            },{
                data: pred_points,
                label: "Our Predicted Prices",
                borderColor: "#dd2a2a",
                fill: false
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }]
            },
            maintainAspectRatio: false
        }
    });


    // Standard Chart
    data = htmlDecode("{{ custom_close.labels }}")
    cus_dates = []

    pred_labels = htmlDecode("{{ custom_pred.labels }}")
    pred_prices = htmlDecode("{{ custom_pred.prices }}")

    for(i = 0; i < data.length; i++){
        cus_dates = cus_dates.concat(new Date(data[i]))
    }


    pred_points = []
    for(i = 0; i < pred_labels.length; i++){
        pred_points = pred_points.concat([{
            'x': (new Date(pred_labels[i])),
            'y': parseFloat(pred_prices[i])
        }])
    }

    var ctx2 = document.getElementById('customChart');
    var lineChart = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: cus_dates,
            datasets: [{
                data: {{ custom_close.prices }},
                label: "Closing Price History",
                borderColor: "#3e95cd",
                fill: false
            },{
                data: pred_points,
                label: "Our Predicted Prices",
                borderColor: "#dd2a2a",
                fill: false
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }]
            },
            maintainAspectRatio: false,
            responsive: true
        }
    });

    var test = document.getElementById("test")
     function navSentences(){
        if(sents.hidden == true){
        // Side bar is hidden
            sents.hidden = false;
            main.style.width = "75%";
            expand.innerText = ">";
        }else{
        // Side bar is shown
            sents.hidden = true;
            main.style.width = "100%";
            expand.innerText = "<";
        }
    }


    </script>
{%  endblock %}
