{% extends 'base.html' %}
{% load static %}


{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}">

    <div class = search-wrapper>

        <i id="search-icon" class="fas fa-search"></i>
        <input id="user-input" class="search" type="text" placeholder="search" >


    </div>

    <div class = search-wrapper>
        <select class="sort" id="sort">
            <option selected> Sort by</option>
            <option value="HOT">Hot</option>
            <option value="NOT">Not</option>
        </select>
    </div>

    <div id = replaceable-content>
        {% include 'homepage-results.html' %}
    </div>


{%  endblock %}
