{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <h3>Companies</h3>

    <input type="search" placeholder="search" aria-label="Search">

    <div>
    {% for company in companies %}
        <a href="{% url 'company_page' company.stock_code %}" style="text-decoration: black">
            <div>
                {% if company.verdict != "NO-DATA" %}
                    {% if company.verdict == "HOT" %}
                        <p>{{ company.short_hand }} , <img width="0.5%" src="{% static 'arrow_up.png' %}" alt="HOT"></p>
                    {%  else %}
                        <p>{{ company.short_hand }}, <img width="0.5%" src="{% static 'arrow_down.png' %}" alt="NOT"></p>
                    {% endif %}
                {% endif %}
            </div>
        </a>
    {% endfor %}
    </div>

{%  endblock %}