{% extends 'base.html' %}
{% load static %}


{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}">


    <div style="padding: 2px">
        <a href="{% url 'index' %}">
            <img style="filter: brightness(130%); width: 300px; margin-left: auto; margin-right: auto; display: block;" src="{% static 'imgs/LogoV3.png' %}">
        </a>
    </div>


    <div class = search-wrapper>

        <i id="search-icon" class="fas fa-search"></i>
        <input id="user-input" class="search" type="text" placeholder="search" >

    </div>

    <div class = search-wrapper>
        <select class="sort" id="sort">
            <option selected> Sort by</option>
            <option value="HOT">Hot</option>
            <option value="NOT">Not</option>
            <option value="HOLD">Hold</option>
        </select>
    </div>


    <div id = replaceable-content class="card-wrapper-2">
        {% include 'homepage-results.html' %}
    </div>



{%  endblock %}
