.head{
    background: whitesmoke;
    font-family: Arial, sans-serif;
}

.price{
    display: inline;
}

.loader {
  border: 4px solid white; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

.info-loader{
  border: 8vh solid white; /* Light grey */
  border-top: 8vh solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  animation: spin 2s linear infinite
}

.mainbody {
  margin-left: 202px;
}

.busSummary{
  padding: 10px;
  vertical-align: middle;
  margin-left: 210px;
}

.stockInfo{
  font-family: Arial, sans-serif;
  overflow: auto;
  height: 70vh;
}




@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pred-box{
  font-family: Arial, sans-serif;
  color: #333333;
  width: 20%;
  float: left;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px lightgray;
  margin-top: 5px;
  overflow: hidden;
}

.pred-box-head{
  background-color: whitesmoke;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 0 1px lightgray;
  border: 1px solid #fff;
}

.pred-box-bottom{
  background-color: whitesmoke;
  width: 100%;
  box-shadow: 0 0 0 1px lightgray;
  border: 1px solid #fff;
}

.pred-box-mid{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.pred-box-bottom button{
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: white;
  border: 1px solid #333333;
  border-radius: 5px;
  font-size: large;
  padding: 4px;
  margin: 5px;
  transition: background-color .2s ease-in;
}

.pred-box-bottom button:hover{
  background-color: #151515;
}



/* CSS FROM https://codepen.io/maheshambure21/pen/VYJQYG */

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* CSS FROM https://www.w3schools.com/howto/howto_js_topnav.asp */

.topnav {
  background-color: #333;
  border: 1px solid #333;
  overflow: hidden;
}

.topnav a {
  font-family: Arial, sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: background-color .2s ease-in;
}

/* --- */

.topnav a.hotActive {
  background-color: #B22222;
  color: white;
  transition: background-color .2s ease-in;

}

.topnav a.notActive {
  background-color: #4169E1;
  color: white;
  transition: background-color .2s ease-in;

}

.topnav a.noneActive{
  background-color: darkgrey;
  color: white;
  transition: background-color .2s ease-in;

}

.snippet{
  font-family: Arial, sans-serif;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 10px;
  min-height: 50px;
  height: auto;
  overflow: hidden;
  background-color: white;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px lightgray;
}

.snippet-bottom{
   background-color: whitesmoke;
   width: 100%;
   box-shadow: 0 0 0 1px lightgray;
   border: 1px solid #fff;
   height: 20px;
}

.sideinfo {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  overflow: hidden;
}

.sideinfo a {
  font-family: Arial, sans-serif;
  float: left;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}



