.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.search {
    border: 1px solid grey;
    height: 60px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #EBEBEB;
    font-size: 35px;
}

.search:hover, .search:focus {
    border: 1px solid #009688;
    background-color: white;
}

.search-wrapper {
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    display: block;
    display: flex;
    min-width: 100px;
}

.sort {
    border: 1px solid grey;
    height: 25px;
    width: 25%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.sort:hover, .sort:focus {
    border: 1px solid #009688;
    background-color: white;
}



a{color: inherit}


.progress-not{
    -webkit-appearance: none;
    height: 25px;
    width: 75%;
    position: relative;
}

.progress-not:before {
    content: attr(data-label);
    font-size: 20px;
    vertical-align: 0;
    font-family: 'Roboto', sans-serif;
    position:absolute;
    font-weight: bold;
    padding-left: 5px;
    color: white;
    left:0;
    right:0;
}

.progress-not::-webkit-progress-value{
    background: rgb(79,104,177);
    background: linear-gradient(90deg, rgba(79,104,177,1) 0%, rgba(32,145,168,1) 100%);
}

.progress-hot{
    -webkit-appearance: none;
    height: 25px;
    width: 75%;
    position: relative;
}

.progress-hot:before {
    content: attr(data-label);
    font-size: 20px;
    vertical-align: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position:absolute;
    padding-left: 5px;
    color: white;
    left:0;
    right:0;
}

.progress-hot::-webkit-progress-value{
    background: rgb(178,34,34);
    background: linear-gradient(90deg, rgba(178,34,34,1) 0%, rgba(199,77,36,1) 100%);
}

.progress-none{
    -webkit-appearance: none;
    height: 25px;
    width: 75%;
    position: relative;
}

.progress-none:before {
    content: attr(data-label);
    font-size: 20px;
    vertical-align: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position:absolute;
    padding-left: 5px;
    color: white;
    left:0;
    right:0;
}

.progress-none::-webkit-progress-value{
    background: rgb(142,139,138);
    background: linear-gradient(90deg, rgba(142,139,138,1) 0%, rgba(195,193,192,1) 100%);
}


::-webkit-progress-bar {
    /**background: rgb(142,139,138);
    background: linear-gradient(90deg, rgba(142,139,138,1) 0%, rgba(195,193,192,1) 100%);**/
    background : white;
    border: 1px solid lightgray;
}

.tags{
    font-size: 14px;
    background-color: lightgray;
    border-radius: 5px;
    float: left;
    padding: 2px;
    color: white;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color .2s ease-in-out;
}

.tags.hot{
     background: rgb(178,34,34);
     background: linear-gradient(90deg, rgba(178,34,34,1) 0%, rgba(199,77,36,1) 100%);
}

.tags.not{
    background: rgb(79,104,177);
    background: linear-gradient(90deg, rgba(79,104,177,1) 0%, rgba(32,145,168,1) 100%);
}

.tags.hold{
    background: rgb(142,139,138);
    background: linear-gradient(90deg, rgba(142,139,138,1) 0%, rgba(195,193,192,1) 100%);
}

.tags.hot:hover{
    background: rgb(178,34,34);
}

.tags.not:hover{
    background: rgb(79,104,177);
}

.tags.hold:hover{
    background: rgb(142,139,138);
}

.tags:hover{
    background-color: darkgrey;
    transition: background-color .2s ease-in-out;
}

