.card-wrapper-2{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.card:hover, .card:focus{
    background-color: #E8E8E8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.card{
    height: 140px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 10px;
    border-radius: 15px;

}

.card-header{
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-contents{
    padding-top: 7px;
    padding-left: 5px;
}

.card-wrapper:hover, .card-wrapper:focus{
    border: 1px solid #009688;
    background-color: white;
}

.card-hot{
    background: rgb(178,34,34);
    background: linear-gradient(90deg, rgba(178,34,34,1) 0%, rgba(199,77,36,1) 100%);
}

.card-not{
    background: rgb(79,104,177);
    background: linear-gradient(90deg, rgba(79,104,177,1) 0%, rgba(32,145,168,1) 100%);
}

.card-hold{
    background: rgb(142,139,138);
    background: linear-gradient(90deg, rgba(142,139,138,1) 0%, rgba(195,193,192,1) 100%);
}

.card:hover .card-hot {
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow .2s ease-in-out;
}

.card:hover .card-not {
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow .2s ease-in-out;
}

.card:hover .card-hold{
    box-shadow: 8px 0 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow .2s ease-in-out;
}

#b22222